# # Split() function.

In [3]:
# split fun use space, dot or coma to split
s = "Man Gajjar"
l = s.split()
print(l)
for i in l:
    print(i)

['Man', 'Gajjar']
Man
Gajjar

In [20]:
s = "8-11-2024"
l = s.split("-")
print(l)
for i in l:
    print(i)

['8', '11', '2024']
8
11
2024

In [22]:
s = "8.11.2024"
l = s.split(".")
print(l)
for i in l:
    print(i)

['8', '11', '2024']
8
11
2024

In [30]:
s = "08-01-2024"
l = s.split("0")
print(l)

['', '8-', '1-2', '24']

In [34]:
# punctuation 
import string
print(string.punctuation)
print(len(string.punctuation))

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
32

In [39]:
import string
print(str.maketrans("a","b",string.punctuation))

{97: 98, 33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}

In [3]:
import string
t = "ab$faf&#fsg@fg$$"
t = t.translate(str.maketrans("","",string.punctuation))
print(t)

abfaffsgfg

In [4]:
import string
t = "ab$faf&#fsg@fg$$"
t = t.translate(str.maketrans("","","$#"))
print(t)

abfaf&fsg@fg

In [6]:
import string
t = "ab$faf&#fsg@fg$$"
t = t.translate(str.maketrans("f","M"))
print(t)

ab$MaM&#Msg@Mg$$

In [11]:
import string
s = "Hello Sam!"
x = "Sam"
y = "Joe"
t =s.maketrans(x,y,"!")
print(s.translate(t))

Hello Joe

# Tuple

In [15]:
x = 10
y= 10,1
print(type(x))
print(type(y))

<class 'int'>
<class 'tuple'>

In [18]:
t = 10,20,30,40
t = tuple(range(10,20))
print(t)
a = 10,20,30,40
a = tuple(range(10,20,2))
print(a)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19)
(10, 12, 14, 16, 18)

In [23]:
#Accessing Element
t = 10,20,30,40,50,60,70
print(t[0])
print(t[-1])
print(t[-3])
# print(t[10]) # Error
print(t[2:5])
print(t[2:10])
print(t[1::2])
print(t[-1:-4:-1])

10
70
50
(30, 40, 50)
(30, 40, 50, 60, 70)
(20, 40, 60)
(70, 60, 50)

# Mathemetical Operators

In [25]:
a = (10,20,30)
b = (30,40,50)
t = a + b
print(t)
c = a * 3
print(c)

(10, 20, 30, 30, 40, 50)
(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [27]:
a = (10,20,30,40,[1,2,3])
a[4][0] = 60
print(a)

(10, 20, 30, 40, [60, 2, 3])

In [32]:
#count()
a = 10,10,20,30,10,40,20,80,90
print(a.count(10))
print(a.count(20))
print(a.count(30))

3
2
1

In [35]:
#index()
t = (10,20,10,10,30)
print(t.index(10))
print(t.index(30))
# print(t.index(40)) #Error

0
4

In [36]:
#sorted() bydefolr ans give in List
t = (1,2,9,6,5,6)
t1 = sorted(t)
print(t1)

[1, 2, 5, 6, 6, 9]

In [37]:
t = (1,2,9,6,5,6)
t1 = sorted(t,reverse=True)
print(t1)

[9, 6, 6, 5, 2, 1]

In [41]:
#Min() , max()
t = (7,3,8,1)
print(min(t))
print(max(t))

1
8

In [44]:
a = ("am","gf","oi","uy")
print(min(a))
print(max(a))

am
uy

In [45]:
#Tuple Packing
a = 1
b = 2
c = 3
d = 4
t = a,b,c,d
print(t)

(1, 2, 3, 4)

In [47]:
#Tuple Unpacking
t = 10,20,30,40
a,b,c,d=t
print(a,b,c,d)

10 20 30 40

In [48]:
#tuple using loop
t = ('Apple','banana','Mango')
for i in t:
    print(i)

Apple
banana
Mango

In [49]:
t = ('Apple','banana','Mango')
for i in range(len(t)):
    print(t[i])

Apple
banana
Mango

In [51]:
t = ('Apple','banana','Mango')
i = 0
while(i<len(t)):
    print(t[i])
    i+=1

Apple
banana
Mango

In [63]:
s = 'Python'
print(list(reversed(s)))

['n', 'o', 'h', 't', 'y', 'P']

In [65]:
a = range(5,9)
print(list(reversed(a)))

[8, 7, 6, 5]

In [72]:
#enumerate()

a = "xyz"
s = enumerate(a)
# print(s)
print(list(s))

a = "xyz"
s = enumerate(a,5)
# print(s)
print(list(s))

[(0, 'x'), (1, 'y'), (2, 'z')]
[(5, 'x'), (6, 'y'), (7, 'z')]

In [76]:
a = ['eat','sleep','walk']
for ele in enumerate(a):
    print(ele)
for count,ele in enumerate(a,5):
    print(count,ele)

(0, 'eat')
(1, 'sleep')
(2, 'walk')
5 eat
6 sleep
7 walk

In [77]:
# enumerate()
a = "Hello How are you"
for i,j in enumerate(a):
    print(i,"->",j)

0 -> H
1 -> e
2 -> l
3 -> l
4 -> o
5 ->
6 -> H
7 -> o
8 -> w
9 ->
10 -> a
11 -> r
12 -> e
13 ->
14 -> y
15 -> o
16 -> u

In [79]:
# write a program to remove ith char form string in py
import string

a = input("Enter Name: ")
b = input('Enter char you remove: ')
for i in a:
    t = t.translate(str.maketrans("","",b))
    print(t)

Enter Name: Man Gajjar
Enter char you removea

AttributeError: 'tuple' object has no attribute 'translate'