In [4]:
# List is Mutable
a = [1,2,3,4,5]
print(type(a))
print(a)
a[0]=23
print(a)

<class 'list'>
[1, 2, 3, 4, 5]
[23, 2, 3, 4, 5]

In [7]:
l = eval(input("Enter list: "))
print(type(l))

Enter list: (1,2,3,4)
<class 'tuple'>

In [10]:
l = eval(input("Enter list: "))
print(type(l))

Enter list: [1,2,3]
<class 'list'>

In [8]:
s = "Man"
l = list(s)
print(l)

['M', 'a', 'n']

In [9]:
s = "Man"
l = tuple(s)
print(l)

('M', 'a', 'n')

In [11]:
# https://drive.google.com/drive/folders/13WGhz9Bpb4EWfNZqxYnfR-hz8ecPWKgq

In [2]:
l = [1,2,3,4]
print(l[0:4:2])

[1, 3]

# IMP Qustion

In [3]:
#len() 
n = [1,2,3,4]
print(len(n))

4

In [7]:
#count()
n=[1,2,2,2,3,3,3,4,4,5]
print(n.count(1))
print(n.count(2))
print(n.count(3))

1
3
3

In [11]:
#index()
n=[1,2,2,3,3,3]
print(n.index(1))
print(n.index(2))

if 4 in n:
    print(n.index(4))

0
1

In [14]:
# append()

l=['M','A']
l.append('N')
l.append('T')
l.append('O')
l.append('P')
l.append('G')

print(l)

['M', 'A', 'N', 'T', 'O', 'P', 'G']

In [21]:
# insert()
n = [10,20,30,40]
n.insert(1,28)
print(n)
n.insert(-4,30)
print(n)

[10, 28, 20, 30, 40]
[10, 30, 28, 20, 30, 40]

In [23]:
# extend()

l1=['Apple','Banana']
l2=['Orange','Mango']

l1.extend(l2)
print(l1)
print(l2)

l2.extend(l1)
print(l2)

['Apple', 'Banana', 'Orange', 'Mango']
['Orange', 'Mango']
['Orange', 'Mango', 'Apple', 'Banana', 'Orange', 'Mango']

In [25]:
# remove() remove use elemet

n=[3,6,5,1,2,1,3]
n.remove(1)
print(n)

[3, 6, 5, 2, 1, 3]

In [26]:
# pop() pop use index

n=[3,6,5,1,2,1,3]
n.pop(1)
print(n)

[3, 5, 1, 2, 1, 3]

In [27]:
n=[10,20,30,40]
print(n.pop())
print(n.pop())
print(n)

40
30
[10, 20]

In [28]:
n=[10,20,30,40]
n.pop()
n.pop()
print(n)

[10, 20]

In [30]:
n=[10,20,30,40,50,60]
print(n.pop())
print(n.pop(1))
print(n)

60
20
[10, 30, 40, 50]

In [33]:
# n=[]
# print(n.pop())  #pop from empty list

In [32]:
# clear()
n=[1,2,3,4,5]
print(n)
n.clear()
print(n)

[1, 2, 3, 4, 5]
[]

In [35]:
# reverse()

n=[1,2,3,4,5]
n.reverse()
print(n)

[5, 4, 3, 2, 1]

In [37]:
# sort()

n=[2,5,15,10,1]
n.sort()
print(n)

[1, 2, 5, 10, 15]

In [39]:
n=['D','B','C','A','E']
n.sort()
print(n)

['A', 'B', 'C', 'D', 'E']

In [41]:
n=[2,5,15,10,1]
n.sort(reverse=True)
print(n)

[15, 10, 5, 2, 1]

In [43]:
n=['D','B','C','A','E']
n.sort(reverse=True)
print(n)

['E', 'D', 'C', 'B', 'A']

In [44]:
n=['D','B','C','A','E']
n.sort(reverse=False)
print(n)

['A', 'B', 'C', 'D', 'E']

In [45]:
# Mathematical Operators

# + = Concatenation
# * = Repetition

a = [1,2,3]
b = [4,5,6]
print(a+b)
print(a+[4])
# print(a + 4) # Error

print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [48]:
# Comparison Operator for list

x = ["Dog","Cat","Rat"]
y = ["Dog","Cat","Rat"]
z = ["DOG","CAT","RAT"]

print(x == y)
print(x == z)
print(x != z)

True
False
True

In [50]:
x = [50,20,30]
y = [40,50,60]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

True
True
False
False

In [51]:
x = ["Dog","Cat","Rat"]
y = ["Rat","Cat","Dog"]
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True

In [54]:
# Membership Operator for List
# 1. in
# 2. not in

n=[10,20,30,40]
print(10 in n)
print(10 not in n)
print(50 in n)
print(50 not in n)

True
False
False
True

In [55]:
# Cloning of List

x=[10,20,30,40]
y=x
print(x)
print(y)

y[1]=77
print(y)
print(x)

[10, 20, 30, 40]
[10, 20, 30, 40]
[10, 77, 30, 40]
[10, 77, 30, 40]

In [56]:
# by using Slicing Operator

x=[10,20,30,40]
y=x[:]
print(x)
print(y)

y[1]=77
print(y)
print(x)

[10, 20, 30, 40]
[10, 20, 30, 40]
[10, 77, 30, 40]
[10, 20, 30, 40]

In [57]:
# by using copy() Operator
x=[10,20,30,40]
y=x.copy()
y[1]=77
print(x)
print(y)

[10, 20, 30, 40]
[10, 77, 30, 40]

In [59]:
# Nested list

n=[10,20,30,[30,40,50]]
print(n)
print(n[3])
print(n[3][1])

[10, 20, 30, [30, 40, 50]]
[30, 40, 50]
40

In [19]:
n= [[1,2,3],[4,5,6],[7,8,9]]
for i in n:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [73]:
n= [[1,2,3],[4,5,6],[7,8,9]]
for i in n:
    for j in i:
        print(j,end=" ")
    print("")

1 2 3
4 5 6
7 8 9

In [77]:
# List comprehensions
s = [x*x for x in range (1,11)]
print(s)

v = [2**x for x in range (1,6)]
print(v)

m = [x for x in s if x%2==0]
print(m)

n = [x for x in v if x%2==0]
print(n)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[4, 16, 36, 64, 100]
[2, 4, 8, 16, 32]

# remove all accr. of in element form given list

In [85]:
n=[3,6,5,1,2,1,3]
for i in n:
    if 1 in n:
        n.remove(1)
print(n)

[3, 6, 5, 2, 3]

In [87]:
l=[30,10,60,50,10,20,10,30]
n=10
while(n in l):
    l.remove(n)
print(l)

[30, 60, 50, 20, 30]

In [7]:
# Largest Even and largest Odd Num. from the List.
l = [12,37,66,89,123]

even = 0
odd = 0
for i in l:
    if i%2==0:
        if even is None or i > even:
            even = i
        else:
            odd is None or i > odd:
                odd = i
print("Max is",even)
print("Min is",odd)

SyntaxError: invalid syntax (<ipython-input-7-04f77242e24c>, line 11)

In [6]:
nums = [12, 45, 67, 34, 89, 10, 23, 8]
largest_even, largest_odd = find_largest_even_odd(nums)

print("Largest Even Number:", largest_even)
print("Largest Odd Number:", largest_odd)

def find_largest_even_odd(nums):
    largest_even = None
    largest_odd = None

    for num in nums:
        if num % 2 == 0:  
            if largest_even is None or num > largest_even:
                largest_even = num
        else:  
            if largest_odd is None or num > largest_odd:
                largest_odd = num

    return largest_even, largest_odd

Largest Even Number: 34
Largest Odd Number: 89

# Write a perfrom a circular on list to the right

In [17]:
n = eval(input("Enter a Num: "))
shift = int(input("Enter a shift num: "))
    
n=n[-shift:]+n[:-shift]

print(n)

Enter a Num: [1,2,3,4,5,6,7]
Enter a shift num: 2
[6, 7, 1, 2, 3, 4, 5]

# write a pro. to transpose a matrix represented list of list

In [33]:
n= [[1,2,3],[4,5,6],[7,8,9]]
print("Original Matrix:")
for i in n:
    print(i)
    
print(" ")

print("Transpose Matrix")
for i in range(len(n[0])):
    new = [row[i] for row in n]
    print(new)

Original Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Transpose Matrix
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

## write a pro. print elements with frequces greter than a given value k

In [38]:
l = [1,1,1,1,2,2,2,2,3,3,5,5,5,6,7]
k=2
a=[]
for i in l:
    l.count(i)
    if l.count(i)>k and i not in a:
        a.append(i)
print(a)

[1, 2, 5]

## element of two string doens't match

In [46]:
l1 = [1,2,3,4]
l2 = [1,5,3,6]

if len(l1)==len(l2):
    n=[i for i in range(len(l1)) if l1[i]!=l2[i]]
    print(n)
else:
    print("Not same length!")

[1, 3]

## write a pro. to count num of string length is 3 or more and the first and last char. are same from give of string

SyntaxError: invalid syntax (<ipython-input-49-482218d0c3ca>, line 2)

In [54]:
l = ['abc','xyz','aba','2112','123451','1234']
s = 0
for i in l:
    if len(i)>=3 and i[0]==i[-1]:
        s+=1
print("Total num of count is",s)

Total num of count is 3

# Dictionary

In [56]:
s = {1,2,3,4}
print(type(s))

<class 'set'>

In [57]:
s={}
print(type(s))

<class 'dict'>

In [67]:
d = dict()
d[1] = "Apple"
d[2] = "Banana"
d[3] = "Mango"
print(d)

{1: 'Apple', 2: 'Banana', 3: 'Mango'}

In [70]:
d ={1: 'Apple', 2: 'Banana', 3: 'Mango'}
print(d[2])

Banana

In [72]:
#Try and print
d ={1: 'Apple', 2: 'Banana', 3: 'Mango'}
print(d[2])
if 4 in d:
    print(d[4])

Banana

In [73]:
d ={1: 'Apple', 2: 'Banana', 3: 'Mango'}
d[4] = "Cherry"
print(d)

{1: 'Apple', 2: 'Banana', 3: 'Mango', 4: 'Cherry'}

In [75]:
# Update
d ={1: 'Apple', 2: 'Banana', 3: 'Mango'}
d[4] = "Cherry"
print(d)
d[1] = "Strawberry"
print(d)

{1: 'Apple', 2: 'Banana', 3: 'Mango', 4: 'Cherry'}
{1: 'Strawberry', 2: 'Banana', 3: 'Mango', 4: 'Cherry'}

In [77]:
# delete in specefic dict.

d ={1: 'Apple', 2: 'Banana', 3: 'Mango'}
d[4] = "Cherry"
print(d)
d[1] = "Strawberry"
print(d)
del d[2]
print(d)

{1: 'Apple', 2: 'Banana', 3: 'Mango', 4: 'Cherry'}
{1: 'Strawberry', 2: 'Banana', 3: 'Mango', 4: 'Cherry'}
{1: 'Strawberry', 3: 'Mango', 4: 'Cherry'}

In [79]:
# clear in dict.

d ={1: 'Apple', 2: 'Banana', 3: 'Mango'}
d[4] = "Cherry"
print(d)
d.clear()
print(d)

{1: 'Apple', 2: 'Banana', 3: 'Mango', 4: 'Cherry'}
{}

In [80]:
# delete in dict.
#error
d ={1: 'Apple', 2: 'Banana', 3: 'Mango'}
d[4] = "Cherry"
print(d)
del d
print(d)

{1: 'Apple', 2: 'Banana', 3: 'Mango', 4: 'Cherry'}

NameError: name 'd' is not defined

In [83]:
squre = {x:x*x for x in range(1,6)}
print(squre)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [82]:
double = {x:2*x for x in range(1,6)}
print(double)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

# Improtant fun. in dictionary

In [88]:
d= dict([(10, 'Apple'),(20,'Banana'),(30,'cherry')])
print(d)
print(len(d))

{10: 'Apple', 20: 'Banana', 30: 'cherry'}
3

In [89]:
# caloan and you can change a value
s = {1:20, 2:30, 3:40}
s1 = s
s1[1] = 60
print(s)

{1: 60, 2: 30, 3: 40}

In [90]:
# copy()
s = {1:20, 2:30, 3:40}
s1 = s.copy()
s1[1] = 60
print(s)

{1: 20, 2: 30, 3: 40}

In [94]:
d = {10:'Apple',20:'Banana'}
x = {30:'Apple',40:'Banana'}
d.update(x)
print(d)
print(x)

{10: 'Apple', 20: 'Banana', 30: 'Apple', 40: 'Banana'}
{30: 'Apple', 40: 'Banana'}

In [95]:
d = {10:'Apple',20:'Banana'}
x = {20:'Apple',40:'Banana'}
d.update(x)
print(d)
print(x)

{10: 'Apple', 20: 'Apple', 40: 'Banana'}
{20: 'Apple', 40: 'Banana'}

In [97]:
# get()
d ={1: 'Man', 2: 'Arman', 3: 'TOPG'}
print(d[1])
print(d.get(1))
print(d.get(4))

Man
Man
None

In [99]:
# get()
d ={1: 'Man', 2: 'Arman', 3: 'TOPG'}
print(d[1])
print(d.get(1))
print(d.get(4))
print(d.get(1,"Guest"))
print(d.get(4,"Guest"))

Man
Man
None
Man
Guest

In [106]:
# popitem()
# remove last element

d = {10:"Man",20:"Arman",30:"Aryan"}
print(d.popitem())
print(d)
# d.clear()
print(d.popitem())

(30, 'Aryan')
{10: 'Man', 20: 'Arman'}
(20, 'Arman')

In [107]:
# keys()
d = {10:"Man",20:"Arman",30:"Aryan"}
print(d.keys())
for i in d.keys():
    print(i)

dict_keys([10, 20, 30])
10
20
30

In [109]:
# values()
d = {10:"Man",20:"Aman",30:"Aryan"}
print(d.values())
for i in d.values():
    print(i)

dict_values(['Man', 'Aman', 'Aryan'])
Man
Aman
Aryan

In [110]:
d = {10:"Man",20:"Aman",30:"Aryan"}
print(d.items())

dict_items([(10, 'Man'), (20, 'Aman'), (30, 'Aryan')])

In [111]:
d = {10:"Man",20:"Aman",30:"Aryan"}
print(d.items())
for i in d.values():
    print(i)

dict_items([(10, 'Man'), (20, 'Aman'), (30, 'Aryan')])
Man
Aman
Aryan

In [112]:
d = {10:"Man",20:"Aman",30:"Aryan"}
print(d.setdefault(40,'Pavan'))
print(d)
print(d.setdefault(10,"Sachin"))
print(d)

Pavan
{10: 'Man', 20: 'Aman', 30: 'Aryan', 40: 'Pavan'}
Man
{10: 'Man', 20: 'Aman', 30: 'Aryan', 40: 'Pavan'}

## Write a Pro. that a reads a word from a paragrap and store them as key in dictionary and count the freq. of a as value.

In [9]:
s = ("the quick brown fox jumps over the lazy dog").split()
d = {i:s.count(i) for i in s}
print(d)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [10]:
s = ("the quick brown fox jumps over the lazy dog").split()
for i in s:
    d[i] = s.count(i)
print(d)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

# wrap a pro. to dict. with a key as the first char. and value as a list of word starting with chr.

In [29]:
s = ("Don't wait for your feeling to change to take the action").split()
d = {}
for i in s:
    if i[0] in d: 
        d[i[0]].append(i)
    else:
        d[i[0]]=[i]
print(d)

{'D': ["Don't"], 'w': ['wait'], 'f': ['for', 'feeling'], 'y': ['your'], 't': ['to', 'to', 'take', 'the'], 'c': ['change'], 'a': ['action']}

In [30]:
# MCQ
l = [1,2,3,[1,2],'abcd']
print(l[-1:-3:-1][-1][-2])

1

# SET

In [33]:
# SET
l = {1,1,2,2,3,3,4,4,5,5,5,5,5,6,6,6,7,7}
print(l)

{1, 2, 3, 4, 5, 6, 7}

In [34]:
l = {1,1,2,2,3,3,4,4,8,7,9,5,5,5,5,5,6,6,6,7,7}
print(l)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
s = set()
print(type(s))

<class 'set'>

In [37]:
s = [1,2,3,4]
print(type(s))
s = set()
print(type(s))

<class 'list'>
<class 'set'>

In [1]:
s = set("Arman")
print(s)

{'m', 'a', 'r', 'n', 'A'}

In [5]:
# Mathemetic Operators on Set

# union()

x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))
print(x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [1]:
# intersection()
# Common num
x={10,20,30,40}
y={30,40,50,60}

print(x.intersection(y))
print(x&y)

{40, 30}
{40, 30}

In [2]:
x = {'man','topg','man'}
y = {'man','gajjar','hello'}
print(x.intersection(y))

{'man'}

In [6]:
# difference()

x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))
print(x-y)
print()
print(y.difference(x))
print(y-x)

{10, 20}
{10, 20}

{50, 60}
{50, 60}

In [8]:
# symmetric_difference()
# both element not same to print and oder is not sequence
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))
print(x^y)
print()
print(y.symmetric_difference(x))
print(y^x)

{10, 50, 20, 60}
{10, 50, 20, 60}

{10, 50, 20, 60}
{10, 50, 20, 60}

In [10]:
# issubset()
# if element present in set so true or flase
x={'a','b','c'}
y={'f','d','e','c','a','b'}

z = x.issubset(y)
print(z)
z = y.issubset(x)
print(z)

True
False

In [11]:
# issuperset()
x={'a','b','c'}
y={'f','d','e','c','a','b'}

z = x.issuperset(y)
print(z)
z = y.issuperset(x)
print(z)

False
True

In [13]:
# Membership operators for set

# 1.in
# 2.not in

s = set("Arman")
print(s)
print('d' in s)
print('a' in s)
print('A' not in s)

{'A', 'n', 'm', 'r', 'a'}
False
True
False

In [14]:
# add()
s = {10,20,30}
s.add(40)
print(s)

{40, 10, 20, 30}

# update()
s = {10,20,30}
l = [40,50,60,70]
s.update(l,range(5))
print(s)

In [21]:
# copy()
s = {10,20,30}
s1 = s.copy()
s.add(60)
print(s)
print(s1)

{10, 20, 30, 60}
{10, 20, 30}

In [3]:
# pop()
# remove random
s = {10,30,90,50,20}
print(s.pop())
print(s)

10
{50, 20, 90, 30}

In [5]:
# remove()

s = {10,30,90,50,20}
s.remove(10)
print(s)
# s.remove(100)
# print(s) #KeyError

{50, 20, 90, 30}

In [3]:
# discard()
s = {10,30,90,50,20}
s.discard(10)
print(s)
s.discard(100)
print(s) #not show error

{50, 20, 90, 30}
{50, 20, 90, 30}

In [7]:
# clear()
s = {10,30,90,50,20}
s.clear()
print(s)

set()

In [10]:
# set 
s = {x*x for x in range(1,11)}
print(s)
s = {2**x for x in range(1,6)}
print(s)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{32, 2, 4, 8, 16}

In [11]:
# dict 
s = {x:x*x for x in range(1,11)}
print(s)
s = {x:2**x for x in range(1,6)}
print(s)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 2, 2: 4, 3: 8, 4: 16, 5: 32}

# Q. write a pro. to replace the word from the dict. you are given a string replace it wrod from lookup dict.

In [27]:
s = "CampusX is best for DS student".split()
d = {'best':'the best channle','DS':'Data-Science'}
l = []
for i in s:
    if i in d:
        l.append(d[i])
    else:
        l.append(i)
print(" ".join(l))

CampusX is the best channle for Data-Science student

# given a list L of size n you need count the num. of special elements in the given in the given list and ele is special if removal of the element makes it list balance is sum of even index element is equal to the sum odd index element also print the updated list after a removal of special element 9.M

In [19]:
a = [5,5,2,5,8]
even=0
odd=0
for i in range(len(a)):
    if i%2==0:
        even+=a[i]
    else:
        odd+=a[i]

if even==odd:
    print("Balance List")
else:
    print("Not Special List")
    
    
for i in a:
    if a.remove(i):
         if i%2==0:
        even+=a[i]
    else:
        odd+=a[i]

if even==odd:
    print("Balance List")
else:
    print("Not Special List")

Balance List

In [25]:
l = eval(input("Enter List: "))
print("Original List: ",l)
print()
count=0

for i in range(len(l)):
    c=l.copy()
    c.pop(i)
    
    even=odd=0                         #even=sum(c[::2])
    for k in c[::2]:                   #odd=sum(c[1::2])
        even+=k
    for k in c[1::2]:
        odd+=k
        
    if even == odd:
        print("Index to be removed: ",i)
        count+=1
        print("List after removed of index ",i,"is:",l[:i]+l[i+1:])
print()
print("Total special elemet",count)

Enter List: [5,5,2,5,8]
Original List:  [5, 5, 2, 5, 8]

Index to be removed:  0
List after removed of index  0 is: [5, 2, 5, 8]
Index to be removed:  1
List after removed of index  1 is: [5, 2, 5, 8]

Total special elemet 2

# Lambda Function

In [34]:
# lambda fun
x = lambda x:x*x
print(x(5))


# Normal Fun

def square(n):
    return n*n
print(square(4))

25
16

In [33]:
# lambda fun
x = lambda a,b:a+b
print(x(10,20))

# Normal Fun
def sum(a,b):
    return a+b
print(sum(10,20))

30
30

In [35]:
# map()
l = [1,2,3,4,5]

def double(x):
    return 2*x
a = list(map(double,l))
print(a)

[2, 4, 6, 8, 10]

In [38]:
l = [1,2,3,4,5]
x = lambda l:2*l
print(list(map(x,l)))

[2, 4, 6, 8, 10]

In [39]:
l1 = [1,2,3,4,5]
l2 = [3,4,5,6,7]

l=list(map(lambda a,b:a+b,l1,l2))
print(l)

[4, 6, 8, 10, 12]

In [41]:
# reduce() 
# imp
from functools import *

l = [10,20,30,40,50]
sum = reduce(lambda x,y:x+y,l)
print(sum)

mul = reduce(lambda x,y:x*y,l)
print(mul)

150
12000000

In [42]:
# filter()

def even(x):
    if x%2==0:
        return True
    else:
        return False
    
l = [0,1,2,3,4,5,6,7,8,9]
a = list(filter(even,l))
print(a)

[0, 2, 4, 6, 8]

In [43]:
# frozenset()
x = frozenset(l)
x.add(50)
print(x)

AttributeError: 'frozenset' object has no attribute 'add'

# wap to convert str. given upper case using map fun.

In [2]:
a = ['apple','banana','cherry']
l = list(map(str.upper,a))
print(l)

['APPLE', 'BANANA', 'CHERRY']

In [9]:
# filter wrods a lenght greather than 5

words=["app","banana","cheerry"]
print(list(filter(lambda x:len(x)>5,words)))

['banana', 'cheerry']

# divi by 19 or 13

In [15]:
l=[26,38,5,2,70,6,39,46]
print(list(filter(lambda x:x%19==0 or x%13==0,l)))
print([x for x in l if x%19==0 or x%13==0])

[26, 38, 39]
[26, 38, 39]

In [17]:
# sorted() use len and min value show frist
a = ['apple','kiwi','banana','cherry']
l = sorted(a, key=len)
print(l)

['kiwi', 'apple', 'banana', 'cherry']

In [19]:
a = ['apple','kiwi','banana','cherry']
def fan(word):
    return word[-1]
l = sorted(a,key=fan)
print(l)

['banana', 'apple', 'kiwi', 'cherry']

In [22]:
a = ['apple','kiwi','banana','cherry']
l = sorted(a,key=lambda x:x[-1])
print(l)

['banana', 'apple', 'kiwi', 'cherry']

In [23]:
a = ['apple','kiwi','banana','cherry']
l = sorted(a,key=lambda x:x[-1],reverse=True)
print(l)

['cherry', 'kiwi', 'apple', 'banana']

In [25]:
a = ['date','apple','kiwi','banana','cherry']
a.sort()
print(a)

['apple', 'banana', 'cherry', 'date', 'kiwi']

In [28]:
# LAST ELEMET COMPARE
a = [(1,3),(2,2),(3,1)]
def fan(val):
    return val[1]
a.sort(key=fan)
print(a)

[(3, 1), (2, 2), (1, 3)]

In [30]:
a = [(1,3),(2,2),(3,1)]
a.sort(key=lambda x:x[1])
print(a)

[(3, 1), (2, 2), (1, 3)]

In [37]:
a = 'apple#kiwi#banana#cherry'
x = a.split('#',1)
print(x)
x = a.split('#',2)
print(x)
x = a.split('#',3)
print(x)
x = a.split('#')
print(x)

['apple', 'kiwi#banana#cherry']
['apple', 'kiwi', 'banana#cherry']
['apple', 'kiwi', 'banana', 'cherry']
['apple', 'kiwi', 'banana', 'cherry']

In [39]:
x= lambda x,y:x if x<y else y
print(x(101*99,102*98))

9996

In [40]:
x= {1,2,3,4,5}
y={3,4,5,6,7}
z={1,3,5,7,9}
print((x|y) & (x|z))

{1, 2, 3, 4, 5, 7}

In [ ]:
| = union (same hoy a)
& = intersection (common ave)
-- = differnce(je na hoy ae)
^ = summetric_difference(diff hoy ae)

In [41]:
x= {1,2,3,4,5}
y={3,4,5,6,7}
z={1,3,5,7,9}
print((x|y) ^ (x|z))

{6, 9}

In [48]:
t1 = (1,2,3,4,5,6,7)
print(t1[t1[1]+t1[-4]])

7

In [56]:
order = int(input("How Many Pizza you want to order: "))
size = input("Choose Size, 'Small' 'Medium' 'Large' :")
topping = input('How many Toppings, Enter Num: ')
cheese = input("How many Chesse, Enter Num: ")
total = ("The Total Bill is ",cost)
cost = 0
print(total)


def size(size):
    if size==small:
        cost+=50
    elif size==medium:
        cost+=100
    elif size==large:
        cost+=200
        

def topping(topping):
    for i in range(topping):
        if topping=="corn":
            cost+=20
        elif topping=="tomato":
            cost+=20
        elif topping=="onion":
            cost+=20
        elif topping=="capasicum":
            cost+=20
        elif topping=="mushroom":
            cost+=50
        elif topping=="olives":
            cost+=50
        elif topping=="brocoli":
            cost+=50
        else:
            print("Out of Stock")
            
def chees(cheese):
    for i in range(cheese):
        if cheese=="feta":
            cost+=60
        elif cheese=="mozarella":
            cost+=60
        elif cheese=="cheddar":
            cost+=60
        else:
            print("Out of Stoke")
            
            
for i in order:
    print("size",size())
    print("Topping",topping())    
    print("Cheese",chees()) 
    print("Total cost is",cost)

How Many Pizza you want to order: 1
Choose Size, 'Small' 'Medium' 'Large' :small
How many Toppings, Enter Num: 2
How many Chesse, Enter Num: 2
('The Total Bill is ', 0)

In [58]:
def size_cost(size):
    cost = 0
    if size == "small":
        cost += 50
    elif size == "medium":
        cost += 100
    elif size == "large":
        cost += 200
    else:
        print("Invalid size")
    return cost

def topping_cost(topping_list):
    cost = 0
    for topping in topping_list:
        if topping == "corn":
            cost += 20
        elif topping == "tomato":
            cost += 20
        elif topping == "onion":
            cost += 20
        elif topping == "capasicum":
            cost += 20
        elif topping == "mushroom":
            cost += 50
        elif topping == "olives":
            cost += 50
        elif topping == "brocoli":
            cost += 50
        else:
            print(f"{topping} is Out of Stock")
    return cost

def cheese_cost(cheese_list):
    cost = 0
    for cheese in cheese_list:
        if cheese == "feta":
            cost += 60
        elif cheese == "mozarella":
            cost += 60
        elif cheese == "cheddar":
            cost += 60
        else:
            print(f"{cheese} cheese is Out of Stock")
    return cost

# Main code for ordering pizza
order = int(input("How many pizzas do you want to order? "))
total_cost = 0

for i in range(order):
    size = input("Choose Size ('Small', 'Medium', 'Large'): ").lower()
    topping_count = int(input("How many toppings would you like? "))
    toppings = []
    for _ in range(topping_count):
        topping = input("Enter topping (corn, tomato, onion, capasicum, mushroom, olives, brocoli): ").lower()
        toppings.append(topping)

    cheese_count = int(input("How many types of cheese would you like? "))
    cheeses = []
    for _ in range(cheese_count):
        cheese = input("Enter cheese (feta, mozarella, cheddar): ").lower()
        cheeses.append(cheese)

    # Calculate cost for each pizza
    cost = 0
    cost += size_cost(size)
    cost += topping_cost(toppings)
    cost += cheese_cost(cheeses)

    print(f"Total cost for pizza {i+1}: {cost}")
    total_cost += cost

# Final total
print()
print(f"The total cost for all pizzas is: {total_cost}")

How many pizzas do you want to order? 2
Choose Size ('Small', 'Medium', 'Large'): large
How many toppings would you like? 2
Enter topping (corn, tomato, onion, capasicum, mushroom, olives, brocoli): corn
Enter topping (corn, tomato, onion, capasicum, mushroom, olives, brocoli): mushroom
How many types of cheese would you like? 2
Enter cheese (feta, mozarella, cheddar): feta
Enter cheese (feta, mozarella, cheddar): mozarella
Total cost for pizza 1: 390
Choose Size ('Small', 'Medium', 'Large'): small
How many toppings would you like? 2
Enter topping (corn, tomato, onion, capasicum, mushroom, olives, brocoli): olives
Enter topping (corn, tomato, onion, capasicum, mushroom, olives, brocoli): brocoli
How many types of cheese would you like? 3
Enter cheese (feta, mozarella, cheddar): feta
Enter cheese (feta, mozarella, cheddar): mozarella
Enter cheese (feta, mozarella, cheddar): cheddar
Total cost for pizza 2: 330
The total cost for all pizzas is: 720